
<footer>

  <a href="https://discord.gg/SKRFN5W" target="_blank"><img src="{{ site.url }}\media\discord_logo.png" lat="Discord Logo"/></a>
  <a href="https://github.com/RITGameDev" target="_blank"><img src="{{ site.url }}\media\GitHub-Mark-32px.png" lat="GitHub Logo"/></a>
  <a href="https://x.com/ritgamedev" target="_blank"><img src="{{ site.url }}\media\x_logo.png" lat="X Logo"/></a>
  <a href="https://www.linkedin.com/groups/13068758/" target="_blank"><img src="{{ site.url }}\media\linkedin_logo.png" lat="LinkedIn Logo"/></a>
  <a href="https://www.instagram.com/ritgamedev/?hl=en" target="_blank"><img src="{{ site.url }}\media\instagram-logo.png" lat="Instagram Logo"/></a>

  <p>&#169; Copyright RIT Game Developers Club 2019-2024</p>
</footer>
